html, body {
  height: 100%;
}
.bg-header {
  background: linear-gradient($main-green--2, $main-green--2), url(../images/clean.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  margin-top: 0;
  & h1 {
    @media only screen and (min-width: 300px) {
      font-size: 1.3em;
      letter-spacing: .8em;
      margin-left: .8em;
      padding-top: 50%;
    }
    @media only screen and (min-width: 600px) {
      letter-spacing: .1em;
      margin-left: .1em;
      padding-top: 40%;
    }
    @media only screen and (min-width: 800px) {
      font-size: 2.3em;
      letter-spacing: .4em;
      margin-left: .4em;
      padding-top: 25%;
    }
    @media only screen and (min-width: 1025px) {
      font-size: 2.5em;
      letter-spacing: .7em;
      margin-left: .7em;
      padding-top: 20%;
    }
  }
}
// NAVBAR HAMBURGER
.navbar-light .navbar-toggler {
  border: $blue-accent solid 2px;
}

// CURRENTLINK NAV LINK UNDERLINE
.navbar-light .nav-item.currentLink a:after {
  width: 100%;
  background-color: $main-green;
}
.navbar-light .nav-item.currentLink a {
  transition: width .5s ease, color .5s ease;
}

// NAV LINK HOVER UNDERLINE EFFECT
nav a:after {
  content: '';
  display: block;
  height: 2px;
  margin: auto;
  transition: width .5s ease, background-color .5s ease;
  width: 0;
}
.navbar-light .navbar-nav .nav-link:hover {
  transition: width .5s ease, color .5s ease;
  &:after {
    background-color: $main-green;
    width: 100%;
  }
}

// NAV BAR STYLE ON SCROLL
nav#myNavbar, nav#myNavbar a {
  transition: .5s;
  transition-delay: .4s;
}


