.contactme {
  @extend .parallax;
  //height: 16em;
  background: linear-gradient(rgba(27, 195, 159, .25), rgba(27, 195, 159, .2)), url(../images/coffee4.jpg) center center;
}

.working {
  @extend .parallax;
  height: 15em;
  background: linear-gradient(rgba(27, 195, 159, .1), rgba(27, 195, 159, .4)), url(../images/design.jpg) center top;
}


.parallax {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}