.quote {
  position: relative;
  height: 250px;
  width: 100%;
  background: linear-gradient(rgba(26, 188, 156, .4), rgba(26, 188, 156, .4)), url(../images/design.jpg) no-repeat center top;
  background-repeat:no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
}