h1 {
  font-family: $r-medium;
  color: $dark-grey;
}

li{
  font-family: $r-thin;
}

p {
  color: $light-grey;
  font-family: $r-medium;
}

h2 {
  font-size: 1.8em;
  font-family: $r-thin;
  color: $dark-grey;
}

.text-sm--green {
  color: $main-green;
  font-size: .8em;
}