h1 {
  font-family: $r-medium;
  color: $header;
}

li{
  font-family: $r-thin;
}

p {
  color: $light-grey;
  font-family: $r-medium;
}

h2 {
  font-size: 1.8em;
  font-family: $r-thin;
  color: $dark-grey;
}

.text-sm--green {
  color: $main-green;
  font-size: .8em;
}

.footer-text {
  font-size:.8em;
  color: $main-green;
  font-family: $r-medium;
  margin-top: 0;
  margin-bottom: 0;
}


.title-underline {
  border-top: 3px solid $main-green;
  width: 70px;
  margin: 1em auto 0;
}

a:link {
  color: $blue-accent;
}

a:hover {
  //text-decoration: none;
  color: $main-green;
}

.text-green {
  color: $main-green;
}