// COLOR
//$main-green: #1abc9c;
$main-green: #1bc39f;
$white: #ffffff;
$light-grey: #636363;
$dark-grey: #696969;
$bg-tan: #fdf8f7;
$blue-accent: #05a0ab;
$header: #446467;

// TYPE

$r-thin: 'Roboto-Thin';
$r-medium: 'Roboto-Regular';
$r-thick: 'Roboto-Medium';