.what-i-do {
  background-color: $tan;
  padding: 6em 4em;
  @media only screen and (max-width: 450px) {
    padding: 9em 2em 6em 2em;
  }
}

.card {
  background-color: transparent;
  border: 1px solid $lightest-grey;
}

.card-body {
  padding: 4em;
}

// PARALAX PHOTO OF ME AFTER WHAT I DO
.working {
  @extend .parallax;
  height: 25em;
  background: linear-gradient($main-green--2, $main-green--2), url(../images/metalab.jpg) center top;
  @media only screen and (max-width: 600px) {
    height: 14em;
  }
}

.card-body.design-spin:hover {
  img.d-spin {
    transform: rotate(360deg);
    transition: transform .8s ease-in-out;
  }
}

.card-body.code-spin:hover {
  img.c-spin {
    transform: rotate(360deg);
    transition: transform .8s ease-in-out;
  }
}
