.what-i-do {
  background-color: $tan;
  padding: 9em 4em 13em 4em;
  @media only screen and (max-width: 450px) {
    padding: 9em 2em 6em 2em;
  }
}

// PROGRESS BAR
.progress.skills {
  height: 2em;
  border-radius: .80em;
}

.what-i-do--border {
  border: solid 1.4px $blue-dark;
  padding: 3em 4em;
}

.progress-bar {
  background-color: $blue-accent;
}

// PARALAX PHOTO OF ME AFTER WHAT I DO
.working {
  @extend .parallax;
  height: 25em;
  background: linear-gradient($main-green--1, $main-green--4), url(../images/design.jpg) center top;
}